<div class="full-body">

  <div class="contact-container">
    <p class="subtitle">GitHub:</p>
    <p><a href="https://github.com/dev-raimundos">dev-raimundos&#8599;</a></p>
  </div>

  <div class="contact-container">
    <p class="subtitle">Linkedin:</p>
    <p><a href="https://www.linkedin.com/in/devraimundos">Raimundos Marques&#8599;</a></p>
  </div>

  <div class="contact-container">
    <p class="subtitle">Email:</p>
    <p><a href="mailto:devraimundos@outlook.com?subject=Contato&body=Olá, tudo bem?">devraimundos&#64;outlook.com&#8599;</a></p>
  </div>

</div>
