.full-body {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  font-size: 0.9rem;
}

.contact-container {
  margin-bottom: 1.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.subtitle {
  width: 6rem;

}

a,
a:visited,
a:focus,
a:active {
  all: unset;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

h2 {
  color: black;
  font-size: 1rem;
  margin-bottom: 1rem;
}
