.full-body {
  margin-top: 3rem;
  max-width: 23rem;  /* Garante o tamanho máximo */
}

.section-body {

}

h2 {
  color: black;
  margin-bottom: 0.3rem;

  font-size: 1rem;
}

p {
  font-size: 0.9rem;
}


@media (min-width: 730px) {

}
