.full-body {
  margin-top: 4rem;
  margin-left: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-picture {
  width: 6rem;
  margin-right: 1rem;
}

h1 {
  color: black;
  font-size: 1.25rem;
}

h2, a {
  font-size: 0.9rem;
}

a {
  display: inline-block;
  padding: 0.1rem 0.6rem;
  margin-top: 0.3rem;
  background-color: #f1f3f5;
  color: #757A7BE2;

  text-decoration: none;
  border-radius: 999px;
  transition: background-color 0.2s ease;
}

a:hover {
  background-color: #e2e8f0;
}
