<section class="full-body">

  <h2>Experiência:</h2>

  <div class="work-container">
    <div class="work-date">
      <p>2025 - Agora</p>
    </div>
    <div class="work-title">
      <h3>Desenvolvedor Auxiliar</h3>
      <p class="work-subtitle">Grupo Mônaco</p>
      <p class="work-subtitle">Ananindeua, PA</p>
    </div>
  </div>

  <div class="work-container">
    <div class="work-date">
      <p>2024 - 2025</p>
    </div>
    <div class="work-title">
      <h3>Desenvolvedor Estagiário</h3>
      <p class="work-subtitle">Grupo Mônaco</p>
      <p class="work-subtitle">Ananindeua, PA</p>
      <a href="https://monacolocacao.com.br/">
        <img class="work-image" src="locacao.png" alt="Imagem de um site portifólio">
      </a>
    </div>
  </div>

  <div class="work-container">
    <div class="work-date">
      <p>2022 - 2023</p>
    </div>
    <div class="work-title">
      <h3>Desenvolvedor Autônomo</h3>
      <p class="work-subtitle">Guarulhos, SP</p>
    </div>
  </div>

  <div class="work-container">
    <div class="work-date">
      <p>2020 - 2021</p>
    </div>
    <div class="work-title">
      <h3>Suporte à Infraestrutura de TI</h3>
      <p class="work-subtitle">FINAMA</p>
      <p class="work-subtitle">Belém, PA</p>
    </div>
  </div>

</section>
