.full-body {
  margin-top: 2.5rem;
  font-size: 0.9rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.education-container {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.date {
  width: 6rem;
  display: flex;
  align-self: start;
}

.title-container {
  width: 12rem;
}

.education-title {
  color: black;
}

.subtitle {

}

h2 {
  color: black;
  font-size: 1rem;
  margin-bottom: 1rem;
}
