<section class="full-body">

  <h2>Educação:</h2>
  <div class="education-container">
    <div class="date">
      <p>2022 - 2025</p>
    </div>
    <div class="title-container">
      <p class="education-title">Ciências da Computação</p>
      <p class="subtitle">Faci Wyden - Faculdade Ideal</p>
    </div>
  </div>

  <div class="education-container">
    <div class="date">
      <p>2023- 2023</p>
    </div>
    <div class="title-container">
      <p class="education-title">Liderança e Gestão De Equipes </p>
      <p class="subtitle">ENAP - Escola Nacional de Administração Pública</p>
    </div>
  </div>

</section>
